:root {
  --background: #ffffff;
  --foreground: #ed3c6a;
  --text: #1e1e1e;

  --border: #fac4d2;
  --card: #f9fafb;
  --shadow-color: #ff8aa847;

  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
}
